.custom-blog-post .lazyload,
.lazyloading {
  opacity: 0;
}

.custom-blog-post .lazyloaded {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 0ms;
}

.custom-blog-post .wp-block-embed__wrapper {
  max-width: 100% !important;
}

.custom-blog-post .lazyloaded {
  max-width: 100% !important;
  height: auto;
}

.custom-blog-post .alignright {
  float: right;
  margin: 16px 0 16px 16px;
}

.custom-blog-post p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.75;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post body {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post a {
  color: #03989e;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post h1 {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post h2 {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post h3 {
  font-size: 25px;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post h4 {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post h5 {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post h6 {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.custom-blog-post ul {
  font-family: "Roboto", "Montserrat", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.custom-blog-post hr {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: none;
}

.custom-blog-post li {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.75;
  font-family: "Roboto", "Montserrat", sans-serif;
}
