// @font-face {
//   font-family: "overpass-light";
//   src: url(./assets/font/overpass/overpass-light.otf) format("opentype"),
//     url(./assets/font/overpass/Overpass-Light.ttf) format("truetype");

// }

// @font-face {
//   font-family: "overpass-regular";
//   src: url(./assets/font/overpass/overpass-regular.otf) format("opentype"),
//     url(./assets/font/overpass/Overpass-Regular.ttf) format("truetype");
// }

// @font-face {
//   font-family: "overpass-bold";
//   src: url(./assets/font/overpass/overpass-bold.otf) format("opentype"),
//     url(./assets/font/overpass/Overpass-Bold.ttf) format("truetype");

// }

// @font-face {
//   font-family: "sansita-light";
//   src: url(./assets/font/sansita/Sansita-Light.otf) format("opentype"),
//     url(./assets/font/sansita/Sansita-Regular.ttf) format("truetype");
// }

// @font-face {
//   font-family: "sansita-bold";
//   src: url(./assets/font/sansita/Sansita-Bold.otf) format("opentype"),
//     url(./assets/font/sansita/Sansita-Bold.ttf) format("truetype");

// }

@font-face {
  font-family: "overpass-light";
  src: url(./assets/font/mangueira-regular.woff) format('woff');
}

@font-face {
  font-family: "overpass-regular";
  src: url(./assets/font/mangueira-regular.woff) format('woff');
}

@font-face {
  font-family: "overpass-bold";
  src: url(./assets/font/mangueira-regular.woff) format('woff');
}

@font-face {
  font-family: "sansita-light";
  src: url(./assets/font/calibre-regular.woff2) format('woff2');
}

@font-face {
  font-family: "sansita-bold";
  src: url(./assets/font/calibre-regular.woff2) format('woff2');
}

.carousel-item-padding-px {

}

.shadow-rounded {
  -webkit-box-shadow: 2px 3px 6px 0px rgba(214,214,214,1);
  -moz-box-shadow: 2px 3px 6px 0px rgba(214,214,214,1);
  box-shadow: 2px 3px 6px 0px rgba(214,214,214,1);
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

body,
html {
  font-family: "overpass-light", sans-serif;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.overpass {
  font-family: "overpass-light" !important;
}

.MuiAutocomplete-groupLabel {
  font-family: 'sansita-light';
  padding: 0;
}

.MuiAutocomplete-groupUl {
  border-top: 1px solid gray;
  //padding: 0 1em;
  //font-family: 'sansita-light' !important;
}

.MuiAutocomplete-groupUl li {
  //color: #009CA1 !important;
}