@font-face {
    font-family: 'Poppins';
    src: url(./assets/font/Poppins-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/font/Poppins-Bold.ttf) format('truetype');    
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url(./assets/font/Poppins-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(./assets/font/Poppins-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.shadow-rounded {
  -webkit-box-shadow: 2px 3px 6px 0px rgba(214,214,214,1);
  -moz-box-shadow: 2px 3px 6px 0px rgba(214,214,214,1);
  box-shadow: 2px 3px 6px 0px rgba(214,214,214,1);
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

body,
html {
  font-family: 'Poppins-Light';
}

.Cal__Container__root {
  font-family: "Poppins-Light", sans-serif !important;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.overpass {
  font-family: "Poppins-Light" !important;
}

.MuiAutocomplete-groupLabel {
  font-family: 'Poppins-Light';
  padding: 0;
}

.MuiAutocomplete-groupUl {
  border-top: 1px solid gray;
  //padding: 0 1em;
  //font-family: 'sansita-light' !important;
}
.MuiFormControlLabel-label {
  font-family: 'Poppins-Light' !important;
}

.MuiAutocomplete-groupUl li {
  //color: #009CA1 !important;
}

a:-webkit-any-link {
text-decoration: none;
}

/* stripe */
.css-2kkxbv {
  padding: 0.75rem 0.75rem 0.75rem 0.5rem !important;
}


